.icon-pin {
  background: url("../img/icon/pin.svg");
  width: 20px;
  height: 20px;
}

.icon-pin-24 {
  background: url("../img/icon/pin.svg");
  width: 24px;
  height: 24px;
}


.icon-search {
  background: url("../img/icon/search.svg");
  width: 22px;
  height: 22px;
}

.icon-search-gray {
  background: url("../img/icon/search-gray.svg");
  width: 20px;
  height: 20px;
}

.icon-user {
  background: url("../img/icon/user.svg");
  width: 20px;
  height: 20px;
}

.icon-user-circle {
  background: url("../img/icon/user-circle.svg");
  width: 20px;
  height: 20px;
}

.icon-user-gray {
  background: url("../img/icon/user-circle-gray.svg");
  width: 20px;
  height: 20px;
}

.icon-favourite {
  background: url("../img/icon/bookmark.svg");
  width: 22px;
  height: 22px;
}

.icon-favourite-gray {
  background: url("../img/icon/bookmark-gray.svg");
  width: 22px;
  height: 22px;
}

.icon-smartphone {
  background: url("../img/icon/smartphone.svg");
  width: 20px;
  height: 20px;
}

.icon-smartphone-gray {
  background: url("../img/icon/smartphone-gray.svg");
  width: 20px;
  height: 20px;
}

.icon-email {
  background: url("../img/icon/email.svg");
  width: 20px;
  height: 20px;
}

.icon-email-gray {
  background: url("../img/icon/email-gray.svg");
  width: 20px;
  height: 20px;
}

.icon-chat {
  background: url("../img/icon/comment.svg");
  width: 20px;
  height: 20px;
}

.icon-chat-gray {
  background: url("../img/icon/comment-gray.svg");
  width: 20px;
  height: 20px;
}

.icon-send {
  background: url("../img/icon/send.svg");
  width: 24px;
  height: 24px;
}

.icon-close {
  background: url("../img/icon/close.svg");
  width: 24px;
  height: 24px;
}

.icon-arrow-right {
  background: url("../img/icon/arrow-right-white.svg");
  width: 20px;
  height: 20px;
}

.icon-basket {
  background: url("../img/icon/shopping-white.svg");
  width: 18px;
  height: 18px;
}

.icon-star {
  background: url("../img/icon/star.svg");
  width: 16px;
  height: 16px;
}

.icon-truck-orange {
  background: url("../img/icon/truck-orange.svg");
  width: 19px;
  height: 19px;
}

.icon-receipt {
  background: url("../img/icon/receipt.svg");
  width: 24px;
  height: 24px;
}

.icon-history {
  background: url("../img/icon/history.svg");
  width: 24px;
  height: 24px;
}

.icon-truck-gray {
  background: url("../img/icon/truck-gray.svg");
  width: 24px;
  height: 24px;
}

.icon-edit {
  background: url("../img/icon/edit.svg");
  width: 18px;
  height: 18px;
}