//desktops
@media (min-width: 1200px) and  (max-width: 1399px) {
  .container-sm {
    max-width: 850px;
  }
  .footer-logo img {
    max-width: 170px;
  }
  .cabinet-header-nav a {
    font-size: 14px;
  }
  .cabinet-header-nav li+li {
    margin-left: 15px;
  }
  .profile-dropdown {
    margin-left: 20px;
  }
  .profile-dropdown .dropdown-toggle:after {
    margin-left: 5px;
  }
  .profile-dropdown .dropdown-menu {
    left: -20px!important;
    top: 12px!important;
  }
  .seller-card {
    padding: 24px;
  }
}

//desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .container-sm {
    max-width: 880px;
  }
  .catalog-nav-tabs {
    width: 20%;
  }
  .catalog-tab-content {
    width: 80%;
  }
  .catalog-column {
    width: 33.3%;
  }
  .service-box.bg-orange .service-box-caption {
    padding-right: 180px;
  }
  .footer-top {
    margin-left: 0;
    margin-top: 30px;
  }
  .footer-feedback-caption h3 {
    font-size: 36px;
  }
  .footer-feedback-caption {
    margin-right: 60px;
  }
  .footer-feedback-form {
    margin-left: auto;
  }
  .search-banner {
    height: 90px;
  }
  .product-detail-img {
    width: 220px;
    height: 220px;
  }
  .product-banner-item {
    height: 120px;
  }
  .product-card-btn-right {
    display: none;
  }
  .active-order-top {
    display: block;
  }
  .order-tools {
    margin-top: 15px;
  }
  .active-order-img {
    width: 180px;
  }
  .active-order-bottom {
    display: block;
  }
  .active-order-shop {
    margin-top: 12px;
  }
  .active-order-list {
    width: 70%;
  }
  .order-status {
    width: calc(30% - 20px);
  }
  .history-order-info {
    display: block;
  }
  .history-order-code {
    display: block;
  }
  .history-order-code-item+.history-order-code-item {
    margin-left: 0;
    margin-top: 5px;
  }
  .history-order-info-right {
    margin-top: 10px;
  }
  .history-order-price {
    text-align: left;
    display: flex;
    align-items: center;
  }
  .history-order-price h6 {
    text-align: left;
  }
  .history-order-price p {
    text-align: left;
    margin-top: 0;
    margin-left: 5px;
  }
  .order-card-sm-caption h6 {
    font-size: 12px;
    line-height: 130%;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .order-card-sm-caption p {
    font-size: 11px;
    line-height: 130%;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .order-card-sm-caption span {
    font-size: 12px;
    line-height: 130%;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .order-card-sm {
    min-width: initial;
    max-width: initial;
    width: 210px;
  }
  .order-card-sm-caption {
    width: calc(100% - 54px);
  }
  .active-order-detail {
    display: block;
  }
  .history-order-detail .active-order-detail li+li {
    margin-left: 0;
  }
  .seller-cabinet .cabinet-left {
    min-width: 150px;
    padding: 20px 16px;
  }
  .seller-cabinet .cabinet-logo img {
    max-width: 120px;
  }
  .cabinet-nav a {
    padding: 8px 10px;
  }
  .cabinet-nav a svg {
    display: none;
  }
  .cabinet-nav a span {
    margin-left: 0;
  }
  .seller-cabinet .user-card {
    padding: 16px;
  }
  .seller-cabinet .user-card-img {
    width: 48px;
    height: 48px;
  }
  .seller-cabinet .user-card-caption {
    margin-left: 10px;
  }
  .seller-cabinet .user-card-caption p {
    font-size: 20px;
  }
  .seller-card {
    padding: 16px;
  }

  .toggle-cabinet-header-nav {
    display: flex;
  }
  .cabinet-header-nav {
    position: absolute;
    flex-direction: column;
    margin-left: 0;
    top: -5px;
    left: calc(100% + 20px);
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px;
    min-width: 200px;
    box-shadow: 0 40px 120px rgb(3 28 70 / 10%);
  }
  .cabinet-header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .cabinet-header-nav li+li {
    margin-left: 0;
    margin-top: 10px;
  }
  .cabinet-header-nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .seller-products-tools {
    display: block;
  }
  .product-add {
    margin-top: 30px;
  }
  .product-list.four-column .product-card {
    width: calc(33.3% - 8px);
  }
  .profile-img {
    height: 200px;
  }

}

//tablets
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    max-width: 880px;
  }
  .header-nav-item+.header-nav-item {
    margin-left: 20px;
  }
  .header-nav-link {
    font-size: 14px;
  }
  .header-logo img {
    max-width: 130px;
  }
  .header-logo {
    margin-right: 20px;
  }
  .catalog-link .icon-wrapper-xs {
    display: none;
  }
  .catalog-link span {
    margin-left: 0;
  }
  .catalog-link {
    margin-right: 10px;
  }
  .header-tools-item + .header-tools-item {
    margin-left: 5px;
  }
  .authorize-link {
    margin-left: 7px;
  }
  .authorize-link .icon-wrapper-xs {
    display: none;
  }
  .authorize-link span {
    margin-left: 0;
  }
  .catalog-inner {
    display: block;
  }
  .catalog-nav-tabs {
    width: fit-content;
    display: flex;
  }
  .catalog-nav-item+.catalog-nav-item {
    margin-left: 20px;
    margin-top: 0;
  }
  .catalog-nav-tabs .catalog-nav-link {
    height: 100px;
    width: 250px;
    padding: 15px;
  }
  .catalog-nav-tabs .catalog-nav-link.active {
    padding: 15px;
  }
  .catalog-nav-link img {
    height: 100%;
    width: auto;
    right: 0;
    left: initial;
  }
  .catalog-tab-content {
    margin-top: 40px;
    width: 100%;
  }
  .catalog-column {
    width: 33.3%;
  }
  .intro {
    padding: 60px 0 180px 0;
  }
  .intro-caption h1 {
    font-size: 30px;
  }
  .offer-slider-item {
    width: 480px;
  }
  .offer-slider-caption {
    padding: 20px 220px 20px 20px;
  }
  .section {
    margin-top: 50px;
  }
  .service-box-lg {
    width: calc(100% - 12px);
  }
  .service-box-md {
    width: calc(50% - 12px);
  }
  .catalog-preview-box {
    width: calc(100% - 18px);
  }
  .callback-box-left {
    width: 100%;
    padding: 30px;
  }
  .callback-box-right {
    display: none;
  }
  .product-list.four-column .product-card {
    width: calc(33.3% - 8px);
  }
  .product-card-btn-right {
    display: none;
  }
  .top-seller-card {
    width: calc(33.3% - 10px);
  }
  .footer {
    padding: 40px 0 30px 0;
  }
  .footer-logo img {
    max-width: 180px;
  }
  .footer-top {
    margin-left: 0;
    padding-bottom: 20px;
  }
  .footer-nav {
    margin-top: 25px;
  }
  .footer-nav-item+.footer-nav-item {
    margin-left: 20px;
  }
  .footer-nav-link {
    font-size: 14px;
  }
  .footer-main {
    margin-left: 0;
    padding-top: 25px;
  }
  .footer-feedback {
    display: block;
  }
  .footer-feedback-caption h3 {
    font-size: 36px;
    max-width: 100%;
  }
  .footer-feedback-caption h3 br {
    display: none;
  }
  .footer-feedback-form {
    margin-left: 0;
    margin-top: 30px;
    max-width: 500px;
  }
  .authorize-modal .modal-dialog {
    width: calc(100% - 60px);
    max-width: 850px;
  }
  .search-left {
    position: fixed;
    left: -280px;
    top: 0;
    width: 280px;
    height: 100%;
    z-index: 10;
    transition: 0.3s ease;
  }
  .search-left.show {
    left: 0;
  }
  .filter {
    background: #fff;
    border-radius: 0 12px 12px 0;
    max-height: 100%;
    overflow-y: auto;
  }
  .search-right {
    width: 100%;
    padding-left: 0;
  }
  .search-banner {
    height: 90px;
  }
  .search-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-search-filter {
    display: flex;
  }
  .toggle-search-filter span {
    font-size: 15px;
    line-height: 130%;
  }
  .product-detail-card-content {
    display: block;
    width: 380px;
    flex: initial;
  }
  .product-detail-img {
    width: 250px;
    height: 250px;
  }
  .product-detail-caption {
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  .product-detail-buy {
    margin-left: auto;
  }
  .product-detail-name p {
    font-size: 28px;
  }
  .product-detail-info-header h3 {
    font-size: 16px;
  }
  .product-detail-info-link:after {
    margin-left: 0;
  }
  .product-banner-item {
    height: 90px;
  }
  .basket-row {
    flex-direction: column;
  }
  .basket-price {
    order: 1;
    margin-left: 0;
    width: 250px;
  }
  .basket-card-list {
    margin-top: 30px;
    order: 2;
    width: 100%;
  }
  .user-card {
    display: block;
  }
  .user-card-contact {
    margin-top: 30px;
  }
  .user-card-contact-item+.user-card-contact-item {
    margin-left: 30px;
  }
  .active-order-top {
    display: block;
    width: 100%;
    overflow-x: hidden;
  }
  .active-order-detail {
    display: block;
  }
  .active-order-detail li+li {
    margin-left: 0;
    margin-top: 8px;
  }
  .order-tools {
    margin-top: 30px;
  }
  .order-detail-caption h6, .order-detail-caption p {
    white-space: nowrap;
  }
  .active-order-list {
    width: 65%;
  }
  .order-status {
    width: calc(35% - 20px);
    padding: 20px;
  }
  .active-order-card {
    display: block;
  }
  .active-order-img {
    width: 200px;
  }
  .active-order-name {
    display: block;
  }
  .active-order-name span {
    text-align: left;
    margin-top: 5px;
  }
  .active-order-bottom {
    display: block;
  }
  .active-order-shop {
    margin-top: 15px;
  }
  .history-order {
    position: relative;
  }
  .history-order-item {
    width: 100%;
  }
  .history-order-detail {
    display: none;
  }
  .toggle-cabinet-header-nav {
    display: flex;
  }
  .cabinet-header-nav {
    position: absolute;
    flex-direction: column;
    margin-left: 0;
    top: -5px;
    left: calc(100% + 20px);
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 10px 0;
    background: #fff;
    border-radius: 15px;
    min-width: 200px;
    box-shadow: 0 40px 120px rgb(3 28 70 / 10%);
  }
  .cabinet-header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .cabinet-header-nav li+li {
    margin-left: 0;
    margin-top: 10px;
  }
  .cabinet-header-nav a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .user-card-wrapper {
    display: block;
  }
  .user-card-wrapper .user-card {
    margin-right: 0;
    width: 100%;
  }
  .user-card-wrapper .user-card + .user-card {
    margin-top: 15px;
  }
  .cash-out-link {
    width: 100%;
    margin-top: 15px;
  }
  .seller-card {
    width: calc(100% - 16px);
    padding: 24px 36px;
  }
  .profile-set-modal .modal-dialog {
    max-width: 700px;
  }
  .shop-nav-tabs {
    margin: -4px -6px;
  }
  .shop-nav-tabs .nav-item {
    margin: 4px 6px;
  }
  .shop-nav-tabs .nav-item+.nav-item {
    margin-left: 6px;
  }
  .seller-products-tools {
    display: block;
  }
  .product-add {
    margin-top: 30px;
  }
  .product-list.four-column .product-card {
    width: calc(50% - 8px);
  }
  .product-edit-modal .modal-dialog {
    max-width: 600px;
  }
  .product-edit-modal .modal-content {
    padding: 24px 60px;
  }
  .profit-content {
    display: block;
  }
  .profit-tab-content {
    width: 100%;
  }
  .popular-products {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .order-edit {
    padding: 24px;
    order: 2;
    width: 100%;
    margin-top: 30px;
  }
  .order-preview {
    padding: 24px;
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .user-order-wrapper {
    flex-direction: column;
  }
  #requestModal .modal-content {
    padding: 70px 100px;
  }
  #requestModal .modal-dialog {
    width: 700px;
  }
  .success-modal .modal-content {
    padding: 70px 100px;
  }
  .success-modal .modal-dialog {
    width: 700px;
  }
  .profile-img {
    height: 180px;
  }
  .profile-favourite .icon {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .seller-shop-item {
    width: calc(100% - 12px);
    padding: 24px;
  }
  .seller-shop-item h6 {
    margin-bottom: 15px;
  }
  .delivery-cabinet .user-card-wrapper .user-card {
    width: 100%;
  }
  .delivery-count-card-wrapper {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }
  .archive-card {
    display: block;
    padding: 20px;
  }
  .archive-card-caption {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
  }
  .archive-card-price {
    margin-left: 0;
    margin-top: 15px;
    text-align: left;
  }
  .archive-card-price p {
    text-align: left;
  }
}

//phones
@media (min-width: 320px) and (max-width: 767px) {
  .header-top {
    display: none;
  }
  .header-xs {
    display: flex;
    align-items: center;
    background: #fff;
    min-height: 40px;
    position: relative;
  }
  .header-xs-backlink {
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .header-xs-backlink.show {
    display: flex;
  }
  .header-xs-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-xs-logo img {
    max-height: 28px;
  }
  .header-row-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  .header-row-toggle span {
    background: #000000;
    width: 18px;
    height: 1.5px;
    border-radius: 1.5px;
    display: block;
    position: relative;
    transition: .3s ease;
  }
  .header-row-toggle span+span {
    margin-top: 4px;
  }
  .header-row-toggle.active {
    span:nth-child(1) {
      transform: translateY(5.5px) rotate(-45deg);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: translateY(-5.5px) rotate(45deg);
    }
  }
  .header-main-row {
    position: fixed;
    top: 41px;
    left: 0;
    width: 100%;
    height: calc(100vh - 41px);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    z-index: 10;
  }
  .header-main-row.show {
    opacity: 1;
    visibility: visible;
  }
  .header-logo {
    display: none;
  }
  .header-search-xs {
    display: block;
    position: relative;
    width: 100%;
    order: 1;
  }
  .search-xs-form {
    display: flex;
    align-items: center;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    padding: 10px;
    width: 100%;
  }
  .search-xs-form input {
    margin-left: 10px;
    flex: 1;
    min-width: 0;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .search-xs-form input::placeholder {
    color: #818294;
  }
  .search-xs-form input:focus {
    border: none;
    outline: none;
  }
  .search-xs-dropdown {
    background: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.14);
    border-radius: 8px;
    position: absolute;
    top: calc(100% + 10px);
    width: 100%;
    left: 0;
    z-index: 2;
    display: none;
  }
  .search-xs-dropdown.show {
    display: block;
  }
  .close-search-xs {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .authorize-link {
    margin-left: 0;
    order: 2;
    margin-top: 24px;
    padding: 0;
    border: none;
  }
  .authorize-link span {
    margin-left: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #1B1C1E;
  }
  .authorize-link .icon-user {
    width: 24px;
    height: 24px;
  }
  .icon-wrapper-xs {
    width: 44px;
    height: 44px;
    background: #F0FBFF;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .catalog-link {
    order: 3;
    margin-top: 16px;
    padding: 0;
    min-height: 0;
    background: transparent;
    border: none;
  }
  .catalog-link.active {
    border: none;
  }
  .catalog-link.active svg path {
    fill: #000;
  }
  .catalog-link.active span {
    color: #1b1c1e;
  }
  .catalog-link.btn-main:hover {
    background: transparent;
  }
  .catalog-link svg {
    width: 24px;
    height: 24px;
    path {
      fill: #000000;
    }
  }
  .catalog-link span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #1B1C1E;
    display: block;
    margin-left: 11px;
  }
  .catalog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-right: 0;
    max-height: initial;
  }
  .catalog-inner {
    display: block;
    overflow-y: initial;
  }
  .catalog-nav-tabs {
    width: 100%;
    padding-right: 0;
    display: flex;
  }
  .catalog-nav-tabs .catalog-nav-link {
    padding: 10px 20px;
    width: fit-content;
    height: fit-content;
  }
  .catalog-nav-tabs .catalog-nav-link.active {
    padding: 9px 19px;
    border: 1px solid #f5750c
  }
  .catalog-nav-link img {
    display: none;
  }
  .catalog-nav-link p {
    font-size: 16px;
    line-height: 120%;
    font-weight: 500;
  }
  .catalog-nav-item+.catalog-nav-item {
    margin-top: 0;
    margin-left: 10px;
  }
  .catalog-tab-content {
    margin-top: 20px;
    width: 100%;
    max-height: calc(100% - 39px);
    overflow-y: auto;
  }
  .catalog-row {
    display: block;
  }
  .catalog-column {
    width: 100%;
    padding: 0;
    border: none;
  }
  .catalog-column + .catalog-column {
    margin-top: 30px;
  }
  .catalog-item-list {
    margin: 8px -10px -7px -10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .catalog-item {
    margin: 7px 10px;
    font-size: 14px;
    line-height: 120%;
  }
  .catalog-item + .catalog-item {
    margin-top: 7px;
  }
  .close-catalog {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 2;
  }


  .header-tools {
    order: 4;
    margin-left: 0;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
  }
  .header-tools-item+.header-tools-item {
    margin-left: 0;
    margin-top: 16px;
  }
  .menu-text-xs {
    display: block;
    margin-left: 11px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #1B1C1E;
  }
  .favourite-link {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  .favourite-link .icon-favourite {
    width: 24px;
    height: 24px;
  }
  .basket-link {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
  }
  .basket-link svg {
    width: 24px;
    height: 24px;
  }
  .header-search {
    display: none;
  }
  .location-link {
    order: 5;
    margin-top: auto;
    padding: 0;
  }
  .location-link .icon-pin {
    background: url("../img/icon/pin-black.svg");
    width: 24px;
    height: 24px;
  }
  .footer {
    display: none;
  }
  .intro {
    padding: 24px 0 160px 0;
  }
  .intro-caption {
    max-width: 100%;
  }
  .intro-caption h1 {
    font-size: 16px;
    line-height: 130%;
    max-width: 311px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .intro-caption p {
    font-size: 12px;
    line-height: 130%;
    margin-top: 4px;
    max-width: 311px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .main-search {
    width: 100%;
  }
  .main-search-form {
    display: block;
  }
  .main-search-form .btn-main {
    margin-left: 0;
    width: 100%;
    margin-top: 8px;
  }
  .main-search-form .form-group {
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    background: transparent;
    padding: 10px;
  }
  .main-search-form .form-group.has-focus {
    padding: 10px;
  }
  .main-search-form .icon-search-gray {
    background: url("../img/icon/search.svg");
    width: 24px;
    height: 24px;
  }
  .section {
    margin-top: 60px;
  }
  .services .section-header {
    margin-bottom: 24px;
  }
  .section-title {
    font-size: 20px;
    line-height: 130%;
  }
  .offer-slider-item {
    width: 300px;
    min-height: 138px;
  }
  .offer-slider-caption {
    padding: 24px 36px 24px 24px;
  }
  .offer-slider-name {
    font-size: 16px;
    line-height: 110%;
  }
  .services .section-header p {
    font-size: 12px;
    line-height: 130%;
    margin-top: 4px;
  }
  .service-box-lg {
    width: calc(100% - 12px);
    height: 140px;
    min-height: 140px;
  }
  .service-box-md {
    width: calc(50% - 12px);
    height: 125px;
    min-height: 125px;
  }
  .service-box-caption {
    padding: 16px;
  }
  .service-box-icon {
    width: 28px;
    height: 28px;
    border-radius: 8px;
  }
  .service-box-icon svg {
    width: 16px;
    height: 16px;
  }
  .service-box.bg-orange .service-box-caption {
    padding-right: 60px;
  }
  .service-box.bg-orange .service-box-icon {
    margin-bottom: 5px;
  }
  .service-box.bg-orange .service-box-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
  }
  .btn-lg {
    min-height: 33px;
  }
  .service-box.bg-light .service-box-icon {
    margin-bottom: 10px;
  }
  .service-box.bg-light .service-box-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 4px;
  }
  .service-box.bg-light .service-box-caption {
    padding: 10px;
  }
  .service-box-desc {
    font-size: 12px;
    line-height: 15px;
  }
  .catalog-preview-box {
    width: calc(100% - 18px);
    padding: 16px 10px;
  }
  .catalog-preview-img {
    margin-bottom: 10px;
    text-align: center;
  }
  .catalog-preview-img img {
    max-height: 80px;
  }
  .catalog-preview-title {
    margin-bottom: 16px;
  }
  .catalog-preview-title h4 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .catalog-preview-link-list {
    justify-content: center;
  }
  .catalog-preview-box .btn-main {
    margin: auto;
  }
  .callback-box {
    display: block;
  }
  .callback-box-left {
    width: 100%;
    padding: 120px 10px 16px 10px;
    background: url("../img/main/callback-box-bg.png") no-repeat center top;
  }
  .callback-box-left h3 {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .callback-box-form {
    margin-top: 16px;
  }
  .form-group {
    margin-bottom: 12px;
    padding: 10px 8px;
  }
  .callback-box-form-bottom {
    display: block;
  }
  .callback-box-form-bottom .btn-main {
    margin-top: 8px;
    width: 100%;
  }
  .callback-box-right {
    display: none;
  }
  .section-more-link {
    display: none;
  }
  .section-more-link-xs {
    display: flex;
    margin-top: 8px;
    width: 100%;
    min-height: 40px;
  }
  .section-header {
    margin-bottom: 12px;
  }
  .product-card {
    width: calc(50% - 8px);
    padding: 0;
  }
  .product-list.four-column .product-card {
    width: calc(50% - 8px);
  }
  .product-card-img {
    height: 120px;
  }
  .product-card-favourite {
    top: 8px;
    right: 8px;
  }
  .product-name p {
    font-size: 12px;
    line-height: 15px;
  }
  .product-category {
    margin-top: 4px;
  }
  .product-category p {
    font-size: 10px;
    line-height: 12px;
  }
  .product-detail {
    display: none;
  }
  .product-card-caption {
    border: none;
    padding: 0 10px;
    margin-top: 8px;
  }
  .product-card-price {
    padding: 0 10px 16px 10px;
    margin-top: 13px;
  }
  .product-card-btn {
    display: none;
  }
  .product-card-price p:not(.product-card-btn p) {
    font-size: 14px;
    line-height: 17px;
  }
  .top-seller-card {
    width: calc(50% - 10px);
    padding: 16px;
  }
  .top-seller-card-img {
    width: 48px;
    height: 48px;
  }
  .top-seller-card-caption {
    margin-top: 8px;
  }
  .news-card {
    width: calc(50% - 15px);
  }
  .subscription {
    display: none;
  }
  #locationModal .form-group.has-focus {
    padding: 10px 8px;
  }


  .search-left {
    position: fixed;
    left: calc(-100% + 70px);
    top: 0;
    width: calc(100% - 70px);
    height: 100%;
    z-index: 10;
    transition: 0.3s ease;
  }
  .search-left.show {
    left: 0;
  }
  .filter {
    background: #fff;
    border-radius: 0 12px 12px 0;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
  }
  .search-right {
    width: 100%;
    padding-left: 0;
  }
  .search-banner {
    height: 50px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0;
    width: calc(100% + 30px);
  }
  .search-banner-link {
    display: none;
  }
  .search-right-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .toggle-search-filter {
    display: flex;
  }
  .toggle-search-filter span {
    font-size: 15px;
    line-height: 130%;
  }
  .toggle-search-filter svg {
    width: 20px;
    height: 20px;
  }
  .search-right-filter {
    display: block;
  }
  .search-right-filter .third-form {
    margin-top: 15px;
    flex-direction: column;
  }
  .search-right-filter .third-form .bootstrap-select {
    width: calc(100% - 16px)!important;
    margin-bottom: 12px;
  }
  .search-result-header {
    display: block;
    margin: 24px 0;
  }
  .search-result-value {
    margin-bottom: 15px;
  }
  .product-list.three-column .product-card {
    width: calc(50% - 8px);
  }
  .close-filter {
    display: flex;
  }
  .filter .btn-main + .btn-main {
    margin-top: 10px;
  }
  .close-search-filter {
    display: flex;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: absolute;
  }
  .product-detail-card {
    display: block;
  }
  .product-detail-card-content {
    display: block;
  }
  .product-detail-img {
    width: 100%;
    height: 350px;
  }
  .product-detail-caption {
    padding: 0;
    margin-top: 16px;
  }
  .product-detail-name p {
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
  }
  .product-detail-favourite {
    margin-top: 0;
  }
  .product-detail-code {
    display: none;
  }
  .product-detail-code-xs {
    display: flex;
    margin-top: 4px;
  }
  .product-detail-price-xs {
    display: block;
    margin-top: 16px;
  }
  .product-detail-price-xs p {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: #1B1C1E;
  }
  .product-detail-categories {
    margin: 11px -4px -4px -4px;
  }
  .product-detail-category {
    margin: 4px;
    padding: 8px;
    font-size: 12px;
    line-height: 15px;
  }
  .product-detail-favourite {
    display: none;
  }
  .product-detail-favourite-xs {
    display: flex;
    position: absolute;
    bottom: 12px;
    right: 12px;
    width: 42px;
    height: 42px;
    background: #F0FBFF;
    border-radius: 12px;
  }
  .product-detail-info {
    margin-top: 16px;
    padding: 16px 10px;
    border: 1px solid #F1F1F1;
    border-radius: 12px;
  }
  .product-detail-info-link {
    display: none;
  }
  .product-detail-info-header h3 {
    font-size: 16px;
    line-height: 19px;
  }
  .product-detail-info-more {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1C6BB9;
    position: relative;
  }
  .product-detail-info-more:after {
    content: url("../img/icon/chevron-down-blue.svg");
    width: 16px;
    height: 16px;
    margin-left: 4px;
  }
  .product-desc-xs {
    margin-top: 16px;
  }
  .product-desc-xs p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #1B1C1E;
  }
  .product-detail-availability {
    .product-availability-list .td-1 {
      width: 67%;
    }
    .product-availability-list .td-2 {
      display: none;
    }
    .product-availability-list .td-3 {
      width: 33%;
    }
  }
  .product-detail-desc, .product-detail-availability {
    display: block;
  }
  .product-detail-card-banner {
    display: none;
  }
  .product-banner-wrapper {
    display: none;
  }
  .product-more-info {
    display: none;
  }
  .product-detail-buy-card {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 10;
    border-radius: 0;
    padding: 16px;
  }
  .buy-card-amount {
    margin-top: 0;
    margin-left: auto;
  }
  .buy-card-amount h6 {
    display: none;
  }
  .product-detail-buy-card .product-amount-toggle {
    margin-top: 0;
    width: 110px;
  }
  .buy-card-price {
    display: flex;
    align-items: center;
  }
  .buy-card-price h6 {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }
  .buy-card-price p {
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;
    margin-top: 0;
    margin-left: 5px;
  }
  .product-page {
    padding-bottom: 122px;
  }
  .basket-row {
    display: block;
  }
  .basket-price {
    width: 100%;
    margin-left: 0;
    margin-top: 24px;
  }
  .basket-card-list {
    width: 100%;
  }
  .basket-card {
    display: block;
    padding: 16px;
  }
  .basket-card-img {
    width: 100%;
  }
  .basket-card-favourite {
    width: 42px;
    height: 42px;
    background: #F0FBFF;
    border-radius: 12px;
    top: 10px;
    left: 10px;
  }
  .basket-card-caption {
    margin-left: 0;
  }
  .empty-wrapper {
    margin: 50px 0 90px 0;
  }
  .authorize-modal .modal-dialog {
    width: calc(100vw - 30px);
    margin: 0 auto;
  }
  .authorize-box {
    display: block;
  }
  .authorize-box-left {
    width: 100%;
    padding: 16px;
  }
  .authorize-box-header h2 {
    font-size: 20px;
  }
  .authorize-box-header p {
    font-weight: 400;
  }
  .authorize-box .form-group {
    margin-bottom: 16px;
  }
  .authorize-modal .authorize-box-bottom {
    margin-top: 30px;
  }
  .authorize-modal .authorize-box-bottom .btn-main {
    width: 100%;
  }
  .authorize-box-right {
    width: 100%;
    padding: 16px;
    border-radius: 0 0 12px 12px;
  }
  .registration-router .btn-main {
    width: 100%;
  }
  .close-authorize {
    display: none;
  }
  .close-authorize-xs {
    display: flex;
  }
  #pwdModal .authorize-box-left {
    padding: 60px 16px 30px 16px;
  }
  #restorePwdModal .authorize-box-left {
    padding: 60px 16px 30px 16px;
  }
  .registration-page {
    padding-bottom: 0;
    .backlink {
      display: none;
    }
    .authorize-box {
      min-height: calc(100vh - 40px);
      display: flex;
      flex-direction: column;
      border-radius: 0;
      margin: 0 -15px;
      width: calc(100% + 30px);
      box-shadow: none;
    }
    .authorize-box-right {
      order: 1;
      min-height: 145px;
      border-radius: 0;
    }
    .authorize-box-logo {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 92px;
      height: 52px;
    }
    .authorize-box-logo img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .authorize-box-left {
      order: 2;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .authorize-box-header h2 {
      font-size: 16px;
      line-height: 130%;
      text-align: center;
    }
    .authorize-box-form {
      margin-top: 16px;
    }
    .registration-nav-tabs {
      justify-content: center;
    }
    .registration-nav-tabs .nav-link {
      padding: 11px 13px;
    }
    .form-group {
      margin-bottom: 12px;
    }
    .accept-form {
      margin-bottom: 30px;
    }
    .accept-form p {
      font-size: 13px;
      line-height: 130%;
    }
    .accept-form p br {
      display: none;
    }
    .authorize-box-bottom {
      margin-top: auto;
      flex-direction: column;
    }
    .authorize-box-bottom .btn-main {
      width: 100%;
      min-height: 40px;
      margin-bottom: 16px;
    }
    .authorize-toggle {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .half-form {
      display: block;
    }
    .half-form .form-group {
      width: calc(100% - 16px);
    }
  }
  .cabinet-wrapper {
    background: #fff;
  }
  .cabinet-left {
    display: none;
  }
  .cabinet-container {
    padding: 0 15px;
  }
  .user-card {
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    padding: 4px 10px;
    display: block;
  }
  .user-card-name {
    padding: 10px 0;
    border-bottom: 1px solid #F1F1F1;
  }
  .user-card-contact {
    display: block;
  }
  .user-card-contact-item {
    padding: 10px 0;
  }
  .user-card-contact-item+.user-card-contact-item {
    margin-left: 0;
  }
  .user-card-img {
    width: 36px;
    height: 36px;
  }
  .user-card-caption p {
    font-size: 16px;
    line-height: 130%;
  }
  .user-card-caption span {
    font-size: 12px;
    line-height: 15px;
    margin-top: 0;
  }
  .user-card-contact-img svg {
    width: 36px;
    height: 36px;
  }
  .user-card-contact-caption h6 {
    font-size: 12px;
    line-height: 15px;
  }
  .user-card-contact-caption p {
    font-size: 16px;
    line-height: 130%;
  }
  .order-nav-tabs {
    display: none;
  }
  .active-order-top {
    display: block;
  }
  .active-order-detail {
    display: block;
  }
  .active-order-detail li+li {
    margin-left: 0;
    margin-top: 8px;
  }
  .order-tools {
    margin-top: 16px;
  }
  .order-tools .btn {
    width: 50%;
  }
  .active-order-body {
    flex-direction: column;
    margin-top: 24px;
  }
  .order-status {
    order: 1;
    margin-left: 0;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 12px;
    padding: 16px 24px;
  }
  .order-status-date h6 {
    font-size: 12px;
    line-height: 15px;
  }
  .order-status-date p {
    font-size: 16px;
    line-height: 19px;
    margin-top: 12px;
  }
  .order-status-steps {
    margin-top: 16px;
  }
  .order-status-step:not(.order-status-step:last-child) {
    padding-bottom: 24px;
  }
  .order-status-caption h6 {
    font-size: 12px;
    line-height: 15px;
  }
  .order-status-caption p {
    font-size: 12px;
    line-height: 15px;
  }
  .active-order-list {
    order: 2;
    width: 100%;
    margin-top: 24px;
  }
  .active-order-item {
    box-shadow: none;
    border-radius: 0;
    padding: 0;
  }
  .active-order-card {
    border: 1px solid #F1F1F1;
    border-radius: 12px;
    padding: 16px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .active-order-card+.active-order-card {
    margin-top: 8px;
  }
  .active-order-img {
    width: 100px;
  }
  .active-order-img img {
    max-height: 100px;
  }
  .active-order-caption {
    display: flex;
    flex-direction: column;
  }
  .active-order-name {
    display: block;
    order: 1;
  }
  .active-order-name h6 {
    font-size: 12px;
    line-height: 15px;
  }
  .active-order-name span {
    text-align: left;
    font-size: 12px;
    line-height: 15px;
    margin-top: 4px;
  }
  .active-order-category {
    margin-top: 4px;
    order: 2;
  }
  .active-order-category p {
    font-size: 10px;
    line-height: 12px;
  }
  .active-order-bottom {
    margin-top: 0;
    display: block;
    order: 3;
  }
  .active-order-price {
    margin-top: 8px;
  }
  .active-order-price p {
    font-size: 14px;
    line-height: 17px;
  }
  .active-order-shop {
    display: none;
  }
  .active-order-code {
    display: block;
    order: 4;
  }
  .active-order-code p {
    font-size: 12px;
    line-height: 15px;
  }
  .active-order-code-item+.active-order-code-item {
    margin-left: 0;
    margin-top: 5px;
  }
  .active-order-shop-xs {
    display: flex;
    width: 100%;
    margin-top: 18px;
    align-items: flex-start;
  }
  .active-order-shop-logo {
    width: 100px;
    flex-shrink: 0;
  }
  .active-order-shop img {
    max-width: 100px;
    max-height: 50px;
  }
  .active-order-shop-caption {
    margin-left: 16px;
  }
  .active-order-shop-caption h6 {
    font-size: 12px;
    line-height: 15px;
  }
  .active-order-shop-caption p {
    margin-top: 2px;
    font-size: 12px;
    line-height: 130%;
  }
  .client-cabinet .cabinet-wrapper {
    width: 100%;
  }


  .cabinet-header-messages-text {
    display: none;
  }
  .cabinet-header-messages svg {
    height: auto;
    width: 30px;
    margin: 0;
  }
  .cabinet-header-messages {
    position: relative;
  }
  .cabinet-header-messages .notice-number {
    margin-left: 0;
    position: absolute;
    top: -5px;
    right: -8px;
    font-size: 10px;
    line-height: 10px;
  }
  .profile-dropdown-text {
    display: none;
  }
  .profile-dropdown .dropdown-toggle:after {
    content: none;
  }
  .profile-dropdown {
    margin-left: 25px;
  }
  .cabinet-logo-xs {
    display: block;
    margin-right: 15px;
  }
  .cabinet-header-row {
    padding: 10px 0;
    min-height: 60px;
  }
  .profile-dropdown .dropdown-menu {
    top: calc(100% + 15px)!important;
    right: 0!important;
    left: initial!important;
    transform: translate3d(0, 0, 0) !important;
  }
  .cabinet-header-messages .dropdown-menu {
    top: calc(100% + 15px)!important;
    right: 0!important;
    left: initial!important;
    transform: translate3d(0, 0, 0) !important;
  }
  .profile-modal {
    padding: 24px;
  }
  .profile-modal .modal-body {
    display: block;
  }
  .profile-left {
    width: 100%;
  }
  .profile-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: calc(100% + 48px);
    overflow-x: auto;
    margin: 0 -24px;
    border-radius: 0;
  }
  .profile-tabs .nav-link {
    padding: 10px;
    white-space: nowrap;
    font-weight: 500;
  }
  .profile-right {
    padding: 0;
    margin-top: 30px;
    width: 100%;
  }
  .profile-image {
    width: 70px;
    height: 70px;
  }
  .profile-content .form-group-wrapper {
    margin-bottom: 16px;
  }




  .toggle-cabinet-header-nav {
    display: flex;
  }
  .cabinet-header-nav {
    position: fixed;
    flex-direction: column;
    margin-left: 0;
    top: 61px;
    left: 0;
    visibility: hidden;
    transition: .3s ease;
    opacity: 0;
    padding: 30px 16px;
    background: #fff;
    border-radius: 15px;
    width: 100%;
    height: calc(100% - 61px);
    z-index: 5;
    align-items: flex-start;
  }
  .cabinet-header-nav.show {
    visibility: visible;
    opacity: 1;
  }
  .cabinet-header-nav li+li {
    margin-left: 0;
    margin-top: 10px;
  }
  .cabinet-header-nav a {
    display: inline-block;
    width: 100%;
    font-size: 17px;
  }
  .user-card-wrapper {
    display: block;
  }
  .user-card-wrapper .user-card {
    width: 100%;
  }
  .user-card-wrapper .user-card + .user-card {
    margin-top: 15px;
  }
  .cash-out-link {
    width: 100%;
    margin-top: 15px;
    padding: 14px 10px;
  }
  .user-card-name {
    border-bottom: none;
  }
  .seller-orders-header {
    margin-top: 25px;
    display: block;
  }
  .seller-card-tabs {
    margin-top: 15px;
  }
  .seller-card {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #f1f1f1;
  }
  .seller-card-product-list {
    display: block;
  }
  .seller-card-product {
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
  }
  .seller-card-product-img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
  }
  .seller-card-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: initial;
    max-height: initial;
  }
  .seller-card-product-caption {
    margin-left: 15px;
  }
  .seller-card-product-caption p {
    margin-top: 0;
  }
  .seller-card-product-caption span {
    margin-top: 5px;
  }
  .seller-card-product + .seller-card-product {
    margin-top: 10px;
  }
  .seller-card-product-all {
    margin-top: 10px;
    width: calc(100% - 16px);
  }
  .seller-card-bottom {
    display: block;
  }
  .seller-card-bottom .btn+.btn {
    margin-left: 0;
    margin-top: 10px;
  }
  .seller-card-bottom .btn {
    width: 100%;
  }
  .seller-cabinet .cabinet-wrapper {
    width: 100%;
  }
  .cash-out-modal .modal-content {
    padding: 24px 16px;
  }
  .seller-products-tools {
    display: block;
  }
  .shop-nav-tabs {
    margin: -4px -6px;
  }
  .shop-nav-tabs .nav-item {
    margin: 4px 6px;
  }
  .shop-nav-tabs .nav-item+.nav-item {
    margin-left: 6px;
  }
  .shop-nav-tabs .nav-link {
    border: 1px solid #f1f1f1;
  }
  .shop-nav-tabs .nav-link.active {
    border-color: #f5750c;
  }
  .product-add {
    margin-top: 30px;
    width: 100%;
  }
  .product-edit-modal .modal-content {
    padding: 24px;
  }
  .seller-product-card .product-card-btn {
    display: flex;
  }
  .seller-product-card .product-card-btn .icon {
    display: none;
  }
  .product-edit-modal-tools {
    display: block;
  }
  #productAdd .product-edit-modal-tools .btn {
    margin-top: 10px;
    margin-left: 0;
  }
  #productAdd .product-edit-modal-tools .btn {
    width: 100%;
  }
  #productEdit .product-edit-modal-tools .btn {
    width: 100%;
  }
  .product-edit-modal-tools .btn+.btn {
    margin-top: 10px;
    margin-left: 0;
  }
  .profit-content {
    display: block;
  }
  .profit-tab-content {
    width: 100%;
  }
  .popular-products {
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }
  .order-edit {
    padding: 15px;
    order: 2;
    width: 100%;
    margin-top: 30px;
    border: 1px solid #f1f1f1;
  }
  .order-preview {
    padding: 15px;
    order: 1;
    width: 100%;
    margin-left: 0;
    border: 1px solid #f1f1f1;
  }
  .user-order-wrapper {
    flex-direction: column;
  }
  .order-preview-card-caption {
    margin-left: 15px;
  }
  .order-preview-card-caption h6 {
    font-size: 16px;
    line-height: 120%;
  }
  .order-edit .form-group-title span {
    display: none;
  }
  .support {
    bottom: 15px;
    right: 15px;
  }
  .support-item {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .support-item span {
    display: none;
  }
  .support-item.whatsapp svg {
    display: block;
  }
  .support-item svg {
    width: 24px;
    height: 24px;
  }
  #requestModal .modal-dialog {
    width: calc(100% - 30px);
  }
  #requestModal .modal-content {
    padding: 30px 15px;
  }
  .request-modal-title h6 {
    font-size: 24px;
  }
  .success-modal .modal-dialog {
    width: calc(100% - 30px);
  }
  .success-modal .modal-content {
    padding: 30px 15px;
  }
  .success-modal h6 {
    font-size: 24px;
  }
  .product-nav-tabs .nav-link {
    background: #f7f7f7;
  }
  .delete-product {
    position: static;
    transform: none;
    margin: 15px auto;
  }
  .product-edit-modal .modal-header {
    flex-direction: column;
  }
  .product-add-img-btn {
    width: 130px;
    height: 75px;
  }
  .product-add-img img {
    width: 130px;
    height: 75px;
  }
  .product-add-img-btn span {
    margin-top: 5px;
    font-size: 12px;
    line-height: 120%;
  }
  .product-add-form {
    .half-form {
      display: block;
    }
    .half-form .form-group-wrapper {
      width: calc(100% - 16px);
    }
    .third-form {
      display: block;
    }
    .third-form .form-group-wrapper {
      width: calc(100% - 16px);
    }
    .form-group {
      border: 1px solid #F1F1F1;
    }
  }
  .seller-cabinet-products .product-edit-modal-tools .btn {
    width: 100%;
  }
  .profile-container {
    flex-direction: column;
  }
  .profile-container-left {
    width: 100%;
    display: flex;
  }
  .profile-img {
    width: 140px;
    height: 200px;
  }
  .client-profile-img {
    background-size: 60px 60px;
  }
  .profile-tools {
    flex: 1;
    margin-top: 0;
    margin-left: 15px;
  }
  .profile-container-right {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
  .seller-shop-item {
    width: calc(100% - 12px);
    padding: 24px;
  }
  .seller-shop-item h6 {
    margin-bottom: 15px;
  }
  .favourite-client-card {
    min-height: 210px;
  }
  .favourite-client-card-img {
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
  }
  .favourite-client-card-name {
    margin-top: 15px;
  }
  .favourite-client-card-name p {
    font-size: 16px;
    line-height: 120%;
  }
  .delivery-cabinet .user-card-wrapper .user-card {
    width: 100%;
  }
  .delivery-count-card-wrapper {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
  }
  .delivery-cabinet .user-card-wrapper .delivery-count-card {
    padding: 14px 10px;
  }
  .delivery-count-card p {
    font-size: 18px;
  }
  .delivery-count-card span {
    font-size: 14px;
  }
  .archive-card {
    display: block;
    padding: 20px;
    border: 1px solid #f1f1f1;
  }
  .archive-card-caption {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
  }
  .archive-card-price {
    margin-left: 0;
    margin-top: 15px;
    text-align: left;
  }
  .archive-card-price p {
    text-align: left;
  }
}


//additional media
@media (min-width: 1200px) {
  .container-lg {
    max-width: 1330px;
  }
  .container-sm {
    max-width: 880px;
  }
}

@media (pointer: coarse) {
  .order-card-sm-scroll {
    width: 100%;
    overflow-x: auto;
  }
}