//desktops
@media (min-width: 1200px) and  (max-width: 1399px) {
  .container-sm {
    max-width: 850px;
  }
}

//desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .container-sm {
    max-width: 880px;
  }
}

//tablets
@media (min-width: 768px) and (max-width: 991px) {
  .container-sm {
    max-width: 880px;
  }
}

//phones
@media (min-width: 320px) and (max-width: 767px) {

}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 1330px;
  }
  .container-sm {
    max-width: 880px;
  }
}